@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@200&display=swap');
body{
    font-size: 15px;
    box-sizing: border-box;
    background-color: black;
    font-family: 'Lexend Deca', sans-serif;
}
.container{
    display: flex;
    margin: 90px 90px 90px 90px;
    background-color:hsl(244, 38%, 16%);
    font-size: 16px;
    /* flex-wrap: wrap; */
   

}
img{
    filter:hsl(277, 64%, 61%)(100%);
    border-radius: 10px;
}
.container-2{
    display: flex;
    flex-direction: column;

}
h2{
    font-weight: bolder;
}
.container-3{
    padding: 90px 70px 5px 70px;
}
.highlight{
color:hsl(277, 64%, 61%);
}
h3{
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-weight: bolder;
}
.item{
    display: flex;
    color:hsl(0, 0%, 100%);
    padding: 0px;
}
.item2{
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 0px;
}
.item3{
    color:hsl(0, 0%, 100%);
}
p{
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 16px;
}
@media screen and (max-width:900px){
    .container{
        flex-direction: column-reverse;
        border-radius:10px;
    }
    .item{
        flex-direction: column;
       text-align: center;
    }
    .item2{
        padding: 0px;
    }
    p{
        text-align: center;
    }
    h2{
        font-weight:lighter;
        text-align: center;
    }
}




