@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@200&display=swap');
*{
    box-sizing: border-box;
}
body{
    font-size: 15px;
    background-color: black;
    font-family: 'Lexend Deca', sans-serif;
}
.container{
    display: flex;
    margin: 100px 100px 100px 100px;
    background-color:hsl(244, 38%, 16%);
    font-size: 16px;
   

}
img{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
h2{
    font-weight: bolder;
}
.flex_item{
    padding: 90px 70px 5px 70px;
}
.highlight{
color:hsl(277, 64%, 61%);
}
h3{
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-weight: bolder;
}
.sub_item{
    display: flex;
    color:hsl(0, 0%, 100%);
    padding: 0px;
}
.sub_item2{
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 0px;
}
.sub_item3{
    color:hsl(0, 0%, 100%);
}
p{
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 16px;
}
@media screen and (max-width:900px){
    .container{
        flex-direction: column-reverse;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .sub_item{
        flex-direction: column;
        text-align: center;
    }
    .sub_item2{
        padding: 0px;
    }
    p{
        text-align: center;
    }
    h2{
        font-weight:lighter;
        text-align: center;
    }
}








